# Database
DB_HOST=qdrant
DB_PORT=6333
DB_GRPC_PORT=6334

# Service URLs
MODEL_SERVICE_URL=http://model-service:8000
DOCUMENT_SERVICE_URL=http://document-service:8001
SEARCH_SERVICE_URL=http://search-service:8002

# Service PORTs
MODEL_SERVICE_PORT=8000
DOCUMENT_SERVICE_PORT=8001
SEARCH_SERVICE_PORT=8002
GATEWAY_PORT=8080
FRONTEND_PORT=3000

# Search defaults
DEF_TOP_K=5
DEF_MIN_SCORE=0.4
DEF_MIN_DIF=0.05